html, body {
    height: 100%
}

body {
    font-family: Arial, sans-serif;  /*The font changes from regular HTML to Arial, making it easier to read*/
    line-height: 1.6;  /*Makes each text not so cramped together.*/
    margin: 23px;  /*Changes margin  to 23px*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.copyright {
    text-align: center;
    font-size: 90%; 
    background-color: lightgrey;
}

footer {
    margin-top: auto;
    max-width: 100%;
}

hr {
  border: none;
  border-top: 1.2px solid #ccc;
  margin: 20px 0;
}

.title {  /*Aligns the top "Cyrus Eslahi's Website" text*/
    text-align: center;
}

.subtitle { /*Aligns the top "My first website built by myself, made 2/3/2026" text*/
    text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-top: 30px;
}

.card {
    background-color: white;
    border: 2px solid #d4d4d4;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 0 5px 8px rgba(0,0,0, 0.18);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.28);
    transition: all 0.2s ease;
}

.card-img {
    width: 100%;
    height: 160px;
    object-fit:cover;
    border-radius:20px;
    display: block;
    margin-bottom: 14px;
}

.card-title {
    margin: 0 0 10px;
    font-size: 20px;
}

.card-text {
    padding-left: 18px;
    margin: 0;
}

