html, body {
    height: 100%
}

body {
    font-family: Arial, sans-serif;  /*The font changes from regular HTML to Arial, making it easier to read*/
    line-height: 1.6;  /*Makes each text not so cramped together.*/
    margin: 23px;  /*Changes margin  to 23px*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: radial-gradient(circle at top, #ffffff 0%, #f5f5f7 60%, #ffffff 100%);
}

.copyright {
    text-align: center;
    font-size: 90%; 
    background-color: lightgrey;
}

footer {
    margin-top: auto;
    max-width: 100%;
}

hr {
  border: none;
  border-top: 1.2px solid #ccc;
  margin: 20px 0;
}

.hero {
    text-align: center;
    margin: 0px 0 15px;
}

.title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.15rem;
    font-weight: 400;
    color: #666;
    letter-spacing: 0.4px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 100px;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
}

.card {
    background-color: white;
    border: 2px solid #000000;
    border-radius: 9px;
    padding: 18px;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.76);
    width: 300px;
    height: 450px;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.808);
    transition: all 0.2s ease;
}

.card-img {
    width: 100%;
    height: 160px;
    object-fit:cover;
    border-radius:8px;
    display: block;
    margin-bottom: 15px;
}

.card-title {
    margin: 0 0 10px;
    font-size: 20px;
}

.card-text {
    padding-left: 18px;
    margin: 0;
}



.read-more {
  display: inline-block;
  margin-top: 8px;
  font-weight: 500;
  text-decoration: none;
  color: #2600ff;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease, opacity 0.2s ease;
  text-align: center;
}

.dev-logs {
  display: inline-block;
  margin-top: 8px;
  font-weight: 500;
  text-decoration: none;
  color: #2600ff;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease, opacity 0.2s ease;
  text-align: center;
}

.dev-logs:hover {
  border-bottom: 1px solid #000;
  opacity: 0.75;
}

.read-more:hover {
  border-bottom: 1px solid #000;
  opacity: 0.75;
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;

  background: white;
  color: black;
  border: 2px solid black;
  padding: 10px 16px;
  border-radius: 12px;

  font-weight: 600;
  text-decoration: none;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.back-btn:hover {
  background: black;
  color: white;
}
